.tmk-customer-stats {
  .stats-bar-container {
    display: block;
    width: 100%;
    padding-bottom: 18px;
    padding-left: 0;
  }
  .stats-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid $border-color;
    border-radius: 4px;

    .stat-section,
    .ant-row,
    .stat-block {
      height: 100%;
    }
  }

  .stat-section {
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
  }

  .stat-section:last-child {
    border-right-width: 0;
  }

  .stat-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .content {
      padding: 1rem;
      cursor: pointer;
      width: 100%;
      margin-left: 18px;
      height: 100%;
      background-color: white;
      text-align: right;
      &:hover {
        border: 1px dashed rgba(0, 0, 0, 0.2);
      }
      &.select-tag {
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
      }
    }
    .nomargin{
      margin: 0 !important;
    }

    .num {
      font-family: $code-family;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 6px;
      border-bottom: 1px solid $border-color;
    }
  }

  .stat-section .stat-block::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "/";
    font-size: 1.6rem;
    color: $border-color;
  }

  .stat-section .stat-block:last-child::after {
    display: none;
  }
}
tmk-customer-follow-record-edit {
  display: block;
  height: 100%;
  alert-bar .alert-container {
    margin-left: -18px;
    margin-right: -18px;
    width: auto;
  }

  alert-bar .alert {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .portlet-foot {
    padding: 36px 0 18px;

    .portlet-foot-buttons + .portlet-foot-buttons {
      margin-top: 24px;
    }

    .btn-abandon {
      width: 48%;
      min-width: 120px;
    }
  }
}

tmk-employee-sources-manager > portlet.table > .portlet-body {
  display: flex;
  width: 100%;
  height: 540px;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid $border-color;

  .left,
  .right {
    height: 100%;
  }

  .left .tree .empty,
  .left .tree .loading,
  .right .empty {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: 0 0 320px;
    width: 320px;
    border-right: 1px solid $border-color;
    overflow: hidden;

    .search {
      height: 40px;
      border-bottom: 1px solid $border-color;
    }

    .search .ngx-excel-cell {
      height: 100%;
    }

    .tree {
      padding: 16px 8px;
      padding-right: 0;
      height: calc(100% - 40px);
      overflow: hidden;
      overflow-y: scroll;
    }

    .tree .loading .anticon {
      margin-right: 8px;
    }

    .tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: transparent !important;
      color: mat-color($angular-app-accent);
    }

    .tree .ant-tree-node-content-wrapper a.ant-tree-handle {
      margin-left: 8px;
      color: rgba(0, 0, 0, 0.45);

      &:hover {
        color: mat-color($angular-app-accent);
      }
    }
  }

  .right {
    position: relative;
    flex: 1 0 auto;
    width: 1px;

    .selected-sources-wrapper {
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
    }

    .selected-sources-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
    }

    .selected-source {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0 1rem;
      padding-right: 30px;
      min-height: 32px;
      border-radius: 4px;
      margin-left: 12px;
      margin-top: 8px;
      color: #7274a5;
      border: 1px dashed #d9d9d9;
      background-color: transparent;
      transition: all 0.2s ease;

      a {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }
    }

    .selected-source:hover {
      color: mat-color($angular-app-primary);
      border-color: #33b89d;
      background-color: mat-color($angular-app-primary, default, 0.06);

      a:hover {
        color: red;
      }
    }
  }
}

tmk-customer.layout {
  padding: 0;
  .no-margin{
    margin-right: 0;
    .portlet-body{
      height: 100%;
    }
  }
}

tmk-customer:not(.layout) {
  .layout {
    padding: 0;
    .no-margin{
      .portlet-body{
        height: 100%;
      }
    }
  }
}

tmk-customer-follow-record-edit{
  border-left: 1px solid $border-color;
}

